@use "variables";
.background {
  &__bg {
    background-image: linear-gradient(
      -60deg,
      var(--color-seashell) 50%,
      rgba(224, 226, 230, 0.12) 50%
    );
    animation: slide 8s ease-in-out infinite alternate;
  }
}
