<section class="wrapper">
  <div class="content wrapper-library gallery">
    <div class="gallery__video gallery-box">
      <swiper-container
        class="mySwiper gallery__video-swiper"
        pagination="true"
        pagination-clickable="true"
        navigation="true"
        slides-per-view="auto"
        centered-slides="true"
        space-between="10"
      >
        <swiper-slide class="gallery__video-swiper-item"
          ><video
            controls
            alt="video"
            poster="/assets/images/posters/85e8c315535611f0a5b10eb7dcd13225_1.jfif"
          >
            <source src="/assets/video/IMG_4373.MOV" /></video
        ></swiper-slide>
        <swiper-slide class="gallery__video-swiper-item">
          <video
            controls
            alt="video"
            poster="/assets/images/posters/85e8c315535611f0a5b10eb7dcd13225_1.jfif"
          >
            <source src="/assets/video/IMG_5158.MOV" /></video
        ></swiper-slide>
        <swiper-slide class="gallery__video-swiper-item">
          <video
            controls
            alt="video"
            poster="/assets/images/posters/85e8c315535611f0a5b10eb7dcd13225_1.jfif"
          >
            <source src="/assets/video/1.mp4" /></video
        ></swiper-slide>
        <swiper-slide class="gallery__video-swiper-item">
          <video
            controls
            alt="video"
            poster="/assets/images/posters/85e8c315535611f0a5b10eb7dcd13225_1.jfif"
          >
            <source src="/assets/video/IMG_5157.MOV" /></video
        ></swiper-slide>
      </swiper-container>
    </div>

    <div class="gallery__swiper gallery-box">
      <swiper-container
        class="mySwiper"
        pagination="true"
        pagination-clickable="true"
        navigation="true"
        slides-per-view="auto"
        centered-slides="true"
        space-between="30"
      >
        <swiper-slide
          ><img src="/assets/images/2.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/images/3.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/images/4.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/images/5.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/images/6.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/images/7.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/images/8.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/images/9.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/images/10.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/images/11.jpg" alt="photo" loading="lazy"
        /></swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>
