<div class="loop-wrapper">
  <div class="loop-wrapper__mountain"></div>
  <div class="loop-wrapper__hill"></div>
  <div class="loop-wrapper__tree">
    <div class="loop-wrapper__tree-bottom tree-bottom"></div>
    <div class="loop-wrapper__tree-top tree-top"></div>
  </div>
  <div class="loop-wrapper__tree">
    <div class="loop-wrapper__tree-bottom tree-bottom"></div>
    <div class="loop-wrapper__tree-top tree-top"></div>
  </div>
  <div class="loop-wrapper__tree">
    <div class="loop-wrapper__tree-bottom tree-bottom"></div>
    <div class="loop-wrapper__tree-top tree-top"></div>
  </div>
  <div class="loop-wrapper__rock"></div>
  <div class="loop-wrapper__truck">
    <div class="loop-wrapper__truck-detail-one">
      <div class="loop-wrapper__truck-detail-one-top"></div>
      <div class="loop-wrapper__truck-detail-one-left"></div>
      <div class="loop-wrapper__truck-detail-one-right"></div>
      <div class="loop-wrapper__truck-detail-one-circle circle"></div>
    </div>
    <div class="loop-wrapper__truck-detail-two">
      <div class="loop-wrapper__truck-detail-two-window"></div>
      <div class="loop-wrapper__truck-detail-two-left"></div>
      <div class="loop-wrapper__truck-detail-two-top"></div>
      <div class="loop-wrapper__truck-detail-two-bottom"></div>
      <div class="loop-wrapper__truck-detail-two-circle circle"></div>
    </div>
  </div>
  <div class="loop-wrapper__wheels">
    <div class="loop-wrapper__wheels-wheel"></div>
    <div class="loop-wrapper__wheels-wheel"></div>
  </div>
</div>
