<div class="wrapper">
  <div class="footer content">
    <div class="footer__right">
      <div class="footer__right-info">
        <div class="footer__right-info-schedule">
          <h4 class="footer__right-info-schedule-title">График работы:</h4>
         
          <p class="footer__right-info-schedule-description">
            <span class="footer__right-info-schedule-description-detail-one"
              >ПН-ПТ:</span
            >
            <span class="footer__right-info-schedule-description-detail-two">
              9:00-18:00</span
            >
          </p>
          <p class="footer__right-info-schedule-description">
            <span class="footer__right-info-schedule-description-detail-one">
              СБ, ВС:
            </span>
            <span class="footer__right-info-schedule-description-detail-two">
              Выходные</span
            >
          </p>
        </div>

        <div class="footer__right-info-line line"></div>

        <div class="footer__right-info-box">
          <div class="footer__right-info-box-address">
            <div class="footer__right-info-box-address-container">
              <p class="footer__right-info-box-address-container-txt">
                <a
                  href="https://yandex.ru/map-widget/v1/?um=constructor%3Aff2156f2b429a6fc6234b28b3c6088b9993faa9d73edb08298a5f8544bacdb7f&amp;source=constructor"
                >

                   <img src="/assets/images/icons/Yandex_Maps_icon.svg" alt="" />
                  Где-то в Твери на какой-то улице есть строение
               
                </a>
              </p>

              <div class="footer__right-info-box-address-container-tel">
                <div class="footer__right-info-box-address-container-tel-item">
                  <a
                    href="tel:89201711771"
                    class="footer__right-info-box-address-container-tel-link tel-one"
                    ><span> <mat-icon>call</mat-icon> </span>8-920-171-17-71</a
                  >
                </div>
                <div class="footer__right-info-box-address-container-tel-item">
                  <a
                    href="tel:89043586195"
                    class="footer__right-info-box-address-container-tel-link tel-two"
                    ><span> <mat-icon>call</mat-icon> </span>8-904-358-61-95</a
                  >
                </div>
              </div>
            </div>
            <div class="footer__right-info-box-address-map"></div>
          </div>
        </div>

        <div class="footer__right-info-messengers">
          <div class="footer__right-info-messengers-whtsp">
           
            <a
              href="https://wa.me/+79043586195"
              target="_blank"
              class="footer__right-info-messengers-whtsp-link whats-app"
              id="whts"
              ><img src="/assets/images/icons/whatsapp.svg" alt="" />
            </a>
          </div>

          <div class="footer__right-info-messengers-tlg">
          
            <a
              href="https://t.me/+79201711771"
              target="_blank"
              class="footer__right-info-messengers-tlg-link telegram"
              id="tlg"
              ><img src="/assets/images/icons/telegram.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="line  line-null"></div>
     <div class="footer__logo">
        <a href="#">
           <img src="/assets/images/icons/logo-svg-border-white.svg" alt="logo">
        </a>
       
      </div>
    <div class="footer__left">
     
      <nav class="footer__left-nav">
        <ul class="footer__left-nav-menu">
          <li class="footer__left-nav-menu-item">
            <a
              class="footer__left-nav-menu-item-link decor"
              routerLink="services"
              routerLinkActive="active"
            >
              Услуги
            </a>
          </li>
          <li class="footer__left-nav-menu-item">
            <a
              class="footer__left-nav-menu-item-link decor"
              routerLink="calculator"
              routerLinkActive="active"
            >
              Калькулятор
            </a>
          </li>
          <li class="footer__left-nav-menu-item">
            <a
              class="footer__left-nav-menu-item-link decor"
              routerLink="gallery"
              routerLinkActive="active"
            >
              Проекты
            </a>
          </li>
          <li class="footer__left-nav-menu-item">
            <button (click)="openDialog()">
              <span>
                <mat-icon>engineering</mat-icon>
              </span>
            </button>
          </li>
        </ul>
      </nav>

      <div class="footer__left-docs">
        <div class="footer__left-docs-copyright">
          <p class="footer__left-docs-copyright-txt">Copyright © 2025</p>
        </div>
        <div class="footer__left-docs-privacy">
          <a href="#" class="footer__left-docs-privacy-link">
            Политика конфиденциальности
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
