@use "variables";
@use "./mixins" as mixins;
@use "decoration";

.wrapper {
  background-color: var(--color-bg-dark-gray);

  .footer {
    padding: 8px 25px;
    @include mixins.flex($justify-c: space-between, $align-i: normal);

    @include mixins.tablet {
      padding: 15px 25px;
    }

    @include mixins.mobile {
      padding: 8px 10px 25px 10px;
      display: grid;
      grid-template-areas: "A" "B";
      gap: 10px;
    }

    a,
    p {
      font-size: clamp(0.875rem, 0.7321rem + 0.2232vw, 1rem); //14-16 1024-1920

      @include mixins.mobile {
        font-size: 14px;
      }
    }

    &__left {
      width: 50%;

      @include mixins.tablet {
        width: 75%;
      }

      @include mixins.mobile {
        grid-area: A;
        width: 100%;
        position: relative;
        border-bottom: 1px solid var(--color-texas-rose);
      }

      &-info {
        display: flex;
        width: 100%;
        @include mixins.tablet {
          position: relative;
          display: grid;
          grid-template-areas: "A B" "A C";
        }

        @include mixins.mobile {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        &-schedule {
          @include mixins.flex();
          flex-direction: column;
          margin-right: 10px;

          @include mixins.tablet {
            margin-bottom: auto;
            grid-area: A;
          }

          @include mixins.mobile {
            margin-right: 0;
          }

          &-title {
            color: var(--color-texas-rose);
            font-weight: 300;
            border-bottom: 1px solid var(--color-texas-rose);
            margin-bottom: 8px;

            @include mixins.mobile {
              margin-bottom: 4px;
            }
          }

          &-description {
            color: var(--color-text-white);

            &-detail-one {
              @include mixins.mobile {
                color: var(--color-texas-rose);
              }
            }
          }
        }

        &-box {
          display: flex;
          gap: 10px;
          margin-right: 10px;

          @include mixins.tablet {
            grid-area: B;
          }

          &-address {
            &-container {
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin-bottom: 5px;

              @include mixins.tablet {
                margin-bottom: 0;
              }
              @include mixins.mobile {
                margin-bottom: 5px;
              }

              &-txt {
                a {
                  position: relative;
                  @include mixins.flex();
                  gap: 5px;

                  img {
                    @include mixins.size($width: 22px, $height: 22px);
                  }
                }
              }

              &-tel {
                @include mixins.tablet {
                  width: 53%;
                }

                a {
                  transition: color 0.5s ease;

                  @include mixins.mobile {
                    color: var(--color-texas-rose);
                  }

                  mat-icon {
                    font-size: 16px;
                    color: var(--color-texas-rose);
                    margin-bottom: -10px;
                  }
                }

                a:hover {
                  color: var(--color-texas-rose);
                }
              }
            }
          }
        }

        &-messengers {
          @include mixins.flex($justify-c: space-around);
          flex-direction: column;
          margin-left: auto;
          margin-right: 10px;

          @include mixins.tablet {
            grid-area: C;
            flex-direction: row;
            position: absolute;
            bottom: 6px;
            right: 0;
            margin-right: 5px;
          }

          @include mixins.mobile {
            flex-direction: row;
            position: absolute;
            bottom: 10px;
            right: 0;
          }

          a {
            @include mixins.flex();
            width: 40px;
            text-align: center;
            transform: scale(1, 1);
            transition: transform 0.3s ease-in-out;
          }

          a:hover,
          a:active {
            transform: scale(1.1, 1.1);
          }

          img {
            @include mixins.size($width: 30px, $height: 30px);
          }
        }
      }
    }
    &__logo {
      width: 4%;
      margin: auto 0 0px 10px;

      @include mixins.tablet {
        width: 7%;
        margin: auto 0 -2px 5px;
      }

      @include mixins.mobile {
        width: 50px;
        position: absolute;
        bottom: 24%;
        right: clamp(0.625rem, -9.3323rem + 49.7866vw, 22.5rem);
      }

      a {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    &__right {
      width: 50%;
      @include mixins.flex($justify-c: space-between, $align-i: normal);
      flex-direction: column;

      @include mixins.tablet {
        width: 40%;
      }

      @include mixins.mobile {
        grid-area: B;
        width: 100%;
        flex-direction: row;
      }

      &-nav {
        margin-left: auto;

        &-menu {
          text-align: right;
          display: flex;
          gap: 15px;

          @include mixins.mobile {
            gap: 6px;
            flex-direction: column;
            justify-content: center;
            text-align: left;
          }

          &-item {
            &-link {
              @include mixins.mobile {
                border-bottom: 1px dashed var(--color-texas-rose);
              }
            }

            .mat-icon {
              transition: color 0.3s ease-in-out;
              color: var(--color-text-white);

              @include mixins.mobile {
                color: var(--color-texas-rose);
              }
            }

            .mat-icon:hover {
              color: var(--color-texas-rose);
            }
          }
        }
      }

      &-docs {
        text-align: right;
        margin-left: auto;

        @include mixins.mobile {
          @include mixins.flex($justify-c: flex-end, $align-i: normal);
          flex-direction: column;
          padding-bottom: 7px;
        }

        &-copyright {
          &-txt {
            color: var(--color-text-white);
          }
        }

        &-privacy {
          &-link {
            transition: color 0.3s ease-in-out;

            @include mixins.mobile {
              border-bottom: 1px dashed var(--color-texas-rose);
            }
          }
          &-link:hover {
            color: var(--color-texas-rose);

            @include mixins.mobile {
              color: var(--color-text-white);
            }
          }
        }
      }
    }
  }

  .decor::after {
    right: 0;
    background-color: var(--color-texas-rose);
  }

  .line,
  .decor::after {
    @include mixins.mobile {
      display: none;
    }
  }
}
