@use "variables";
@use '@angular/material' as mat;

:root {
  @include mat.form-field-overrides(
    (
      filled-caret-color: var(--color-white),
      filled-focus-active-indicator-color: var(--color-white),
      filled-focus-label-text-color: var(--color-white),
      filled-container-color: var(--color-cinder),
      // filled-disabled-container-color: green,
      filled-label-text-color: var(--color-white-07),
      filled-hover-label-text-color: var(--color-white),
      filled-disabled-label-text-color: var(--color-squash),
      filled-input-text-color: var(--color-white),
      filled-disabled-input-text-color: var(--color-squash),
      //filled-input-text-placeholder-color: rgb(0, 255, 13),
      filled-error-hover-label-text-color: var(--color-rosso-corsa),
      filled-error-focus-label-text-color: var(--color-rosso-corsa),
      filled-error-label-text-color: var(--color-rosso-corsa),
      filled-active-indicator-color: var(--color-white-07),
      filled-disabled-active-indicator-color: var(--color-squash),
      filled-hover-active-indicator-color: var(--color-white),
      filled-error-active-indicator-color: var(--color-rosso-corsa),
      filled-error-hover-active-indicator-color: var(--color-rosso-corsa),
      filled-error-focus-active-indicator-color: var(--color-rosso-corsa),
      state-layer-color: var(--color-cinder),
      error-text-color: var(--color-venetian-red),
      subscript-text-size: 14px,
    )
  );
}