@use "variables";
@use '@angular/material' as mat;

:root {
  @include mat.dialog-overrides(
    (
      container-color: var(--color-squash),
      subhead-color: var(--color-black),
      container-max-width: 100%,
      container-min-width: 30%,
      actions-alignment: center,
    )
  );
}