@use "variables";
@use '@angular/material' as mat;

:root {
  @include mat.tabs-overrides(
    (
      container-height: 50px,
      active-focus-label-text-color: var(--color-squash),
      active-hover-label-text-color: var(--color-squash),
      active-label-text-color: var(--color-squash),
      active-indicator-color: var(--color-squash),
      active-focus-indicator-color: var(--color-squash),
      active-hover-indicator-color: var(--color-squash),
      inactive-label-text-color: var(--color-silk),
      divider-color: var(--color-white-05),
      label-text-size: 26px,
      label-text-font: Oswald,
      //label-text-weight: 500,
    )
  ); 
  @media (min-width: 1024px) and (max-width: 1300px) {
    @include mat.tabs-overrides(
      (
        label-text-size: 22px,
        container-height: 40px,
      )
    );
  }

  @media (min-width: 320px) and (max-width: 1023px) {
       @include mat.tabs-overrides(
      (
        label-text-size: 18px,
        container-height: 80px,
      )
    );
  }
}