@use "variables";
@use "./mixins" as mixins;
@use "decoration";

.wrapper {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--color-bg-orange);

  @include mixins.mobile {
    overflow: visible;
  }

  .header {
    &__container {
      width: 100%;
      @include mixins.flex($justify-c: space-between);
      flex-flow: wrap;
      background-color: var(--color-bg-orange);
      padding: 7px 35px;

      @include mixins.tablet {
        padding: 7px 10px;
      }

      @include mixins.mobile {
        // padding: 7px 10px;
        justify-content: center;
      }

      &-logo {
        @include mixins.mobile {
          order: 2;
        }

        &-box {
          &-img {
            @include mixins.flex();

            &-name {
              @include mixins.mobile {
                display: none;
              }
            }
          }

          img {
            width: 40px;
            padding-bottom: 4px;

            @include mixins.mobile {
              padding-bottom: 0;
            }
          }

          h2 {
            margin: 0;
          }
        }
      }

      &-nav {
        @include mixins.size($width: auto, $height: auto);
        border-radius: none;
        transform: translateY(0%);

        @include mixins.mobile {
          order: 1;
          @include mixins.size($width: 310px, $height: 0vh);
          position: absolute;
          transform: translateY(-100vh);
          transition-property: transform, border-radius, width, height;
          transition-duration: 0.6s;
          transition-timing-function: ease-in-out;
          background: rgb(255, 255, 255);
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          //padding-top: 50px;
          //padding: 0;
          margin: -10px auto 0 auto;
          z-index: -1;
        }

        &-menu {
          @include mixins.flex();
          gap: 25px;
          margin: 0 auto;

          @include mixins.tablet {
            gap: 15px;
          }

          @include mixins.mobile {
            flex-direction: column;
           // @include mixins.card-outline($background-c: white);
            min-height: 91.5%;
          }

          &-item {
            a {
              @include mixins.mobile {
                color: black;
              }
            }

            span {
              @include mixins.size();

              mat-icon {
                @include mixins.size();
                color: white;
                font-size: 28px;
                transition: transform 0.5s ease;

                @include mixins.mobile {
                  transition: color 0.15s ease-in-out;
                  color: black;
                }
              }
              mat-icon:active {
                @include mixins.mobile {
                  color: orange;
                }
              }
            }
          }

          &-item:first-child,
          &-item:last-child {
            @include mixins.size($width: 28px, $height: 28px);
          }

          &-item:hover mat-icon {
            transform: scale(1.1, 1.1);
            @include mixins.mobile {
              transform: scale(1, 1);
            }
          }

          &-item:active {
            @include mixins.mobile {
              color: orange;
            }
          }
        }
      }

      &-nav.show {
        @include mixins.mobile {
          transform: translateY(54.35%);
          height: 100vh;
        }
      }

      &-tel,
      .tel {
        @include mixins.mobile {
          order: 3;
          margin-left: auto;
        }

        a {
          color: var(--color-link-black);
          transition: color 0.3s ease;
          font-weight: 400;

          span {
            margin-right: 2px;
            @media (min-width: 1420px) and (max-width: 1570px) {
              margin-right: 0;
            }
            @media (min-width: 768px) and (max-width: 1419px) {
              margin-right: -5px;
            }

            @include mixins.mobile {
              margin-right: -5px;
            }

            mat-icon {
              font-size: clamp(
                0.875rem,
                0.7875rem + 0.4375vw,
                1.3125rem
              ); //14-21 320-1920

              height: 100%;
              font-weight: 600;
              margin-bottom: -3px;
            }
          }
        }
        a:hover {
          color: var(--color-link-white);

          @include mixins.mobile {
            color: rgb(0, 0, 0);
          }
        }

        a:active {
          @include mixins.mobile {
            color: var(--color-link-white);
          }
        }
      }

      &-burger {
        display: none;

        @include mixins.mobile {
          display: block;
          @include mixins.size($width: 40px, $height: 40px);
          color: rgb(0, 0, 0);
          margin-right: 4px;
        }

        &-trigger {
          &:checked {
            ~ .burger-wrapper {
              .hamburger {
                background: transparent;

                &:after,
                &:before {
                  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
                  top: 0;
                }

                &:before {
                  transform: rotate(45deg);
                }

                &:after {
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }

        &-wrapper {
          cursor: pointer;
          position: relative;
          &-hamburger {
            @include mixins.size($width: 32px, $height: 2px);
            position: relative;
            top: 4px;
            border-radius: 10px;
            background: black;
            transition: background 10ms 300ms ease;
            margin: auto;

            &:before,
            &:after {
              content: "";
              @include mixins.size($width: 32px, $height: 2px);
              position: absolute;
              left: 0;
              border-radius: 10px;
              background: black;
              transition: top 300ms 350ms ease, transform 300ms 50ms ease;
            }

            &:before {
              top: -12px;
            }

            &:after {
              top: 12px;
            }
          }

          &-layer-click {
            @include mixins.size($width: 40px, $height: 40px);
            position: absolute;
            top: -18px;
            z-index: 3;
          }
        }

        .hidden {
          display: none;
          -webkit-display: none;
        }
      }
    }
  }
}
