@use "variables";
@use "./mixins" as mixins;

.wrapper {
  margin-bottom: 80px;

  @media (max-width: 1599px) {
    margin-bottom: 40px;
  }

  .cooperation {
    padding: 0 60px;

    @media (min-width: 768px) and (max-width: 1599px) {
      padding: 0 40px;
    }

    @media (max-width: 767px) {
      padding: 0 10px;
    }

    &__title {
      text-transform: uppercase;
      margin-bottom: 20px;
      text-decoration: underline solid var(--color-squash);
    }

    &__wrapper {
      width: 98.5%;

      &-content {
        &-list {
          display: flex;
          margin-bottom: 40px;

          @media (min-width: 768px) and (max-width: 1599px) {
            margin-bottom: 25px;
          }

          @media (max-width: 767px) {
            @include mixins.flex();
            flex-direction: column;
            gap: 28px;
            margin-bottom: 70px;
          }

          &-item {
            position: relative;
            margin-left: -0.1%;

            @media (min-width: 768px) and (max-width: 1599px) {
              margin-left: -4px;
            }

            @media (max-width: 767px) {
              margin-left: 0;
            }

            &-spans {
              width: 100%;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              z-index: 10;
              margin-left: 11%;

              @media (min-width: 768px) and (max-width: 1599px) {
                white-space: normal;
              }

              @media (max-width: 767px) {
                @include mixins.flex($align-i: flex-end);
                gap: 10px;
                top: 70px;
                margin-left: 0;
                padding: 0 20px;
              }

              span {
                display: block;
                text-align: center;
              }
            }

            .red {
              font-size: 54px;
              font-weight: 200;
              line-height: 1.15;

              @media (min-width: 768px) and (max-width: 1599px) {
                font-size: 32px;
              }

              @media (max-width: 767px) {
                font-size: 50px;
              }
            }

            .text {
              font-weight: 300;
              font-size: 22px;
              color: var(--color-text-white);

              @media (min-width: 768px) and (max-width: 1599px) {
                font-size: 12px;
              }

              @media (max-width: 767px) {
                font-family: Oswald, "Helvetica Neue", sans-serif;
                font-size: 26px;
                font-weight: 100;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      &-btn {
        text-align: right;
        width: 101.5%;
      }
    }
  }
}
