<div class="wrapper">
  <div class="content cooperation">
    <h2 class="cooperation__title">Работа с нами:</h2>
    <div class="cooperation__wrapper">
      <div class="cooperation__wrapper-content">
        <ul class="cooperation__wrapper-content-list">
          <li class="cooperation__wrapper-content-list-item arrow">
            <div class="spans">
              <span class="red">1</span><span class="txts">Заявка</span>
            </div>
            <div
              class="cooperation__wrapper-content-list-item-box arrow__block-arrow"
            ></div>
          </li>

          <li class="cooperation__wrapper-content-list-item arrow">
            <div class="spans">
              <span class="red">2</span><span class="txts">Замеры</span>
            </div>

            <div
              class="cooperation__wrapper-content-list-item-box arrow__block-arrow"
            ></div>
          </li>
          <li class="cooperation__wrapper-content-list-item arrow">
            <div class="spans">
              <span class="red">3</span><span class="txts">Договор</span>
            </div>
            <div
              class="cooperation__wrapper-content-list-item-box arrow__block-arrow"
            ></div>
          </li>
          <li class="cooperation__wrapper-content-list-item arrow">
            <div class="spans">
              <span class="red">4</span><span class="txts">Подготовка</span>
            </div>
            <div
              class="cooperation__wrapper-content-list-item-box arrow__block-arrow"
            ></div>
          </li>

          <li class="cooperation__wrapper-content-list-item arrow">
            <div class="spans">
              <span class="red">5</span><span class="txts">Выполнение</span>
            </div>
            <div
              class="cooperation__wrapper-content-list-item-box arrow__block-arrow"
            ></div>
          </li>

          <li class="cooperation__wrapper-content-list-item arrow">
            <div class="spans">
              <span class="red">6</span><span class="txts">Сдача работы</span>
            </div>
            <div
              class="cooperation__wrapper-content-list-item-box arrow__block-arrow"
            ></div>
          </li>
        </ul>
      </div>
      <div class="cooperation__wrapper-btn btn">
        <button class="btn-orange" (click)="openDialog()">
          Оставить заявку
        </button>
      </div>
    </div>
  </div>
</div>
