@use "variables";
@use "./mixins" as mixins;
@use "decoration";

.calculator {
  color: var(--color-text-black);

  thead {
    tr {
      th {
        border-bottom: none;
        background-color: var(--color-bg-yellow);

        @include mixins.mobile {
          height: 60px;
          font-weight: 400;
          padding: 0 5px;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: 16px;

        @include mixins.tablet {
          font-size: 14px;
        }

        @include mixins.mobile {
          font-size: 14px;
          height: 60px;
        }
      }

      td:nth-child(1) {
        font-family: Oswald, "Helvetica Neue", sans-serif;
        font-size: 18px;

        @include mixins.mobile {
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__price {
    @include mixins.flex();
    flex-direction: column;
    gap: 20px;
    margin: 10px 0px 25px 0px;

    &-table {
      width: 100%;
      text-align: center;
      border-spacing: 0px;
      border: 1px solid black;
    }

    .table-one {
      @include mixins.mobile {
        display: flex;
        flex-direction: row;
      }

      thead,
      tbody {
        @include mixins.mobile {
          display: flex;
          flex-direction: row;
        }

        tr {
          @include mixins.mobile {
            display: flex;
            flex-direction: column;
          }
        }
      }

      thead {
        th:nth-child(2),
        th:nth-child(4),
        th:nth-child(6) {
          @include mixins.mobile {
            background-color: transparent;
          }
        }
      }

      tbody {
        tr {
          @include mixins.mobile {
            border-left: 1px solid #000;
          }

          td:nth-child(1) {
            @include mixins.mobile {
              padding: 0 15px;
            }
          }
        }
        tr:nth-child(2) {
          background-color: var(--color-bg-yellow);

          @include mixins.mobile {
            background-color: transparent;
          }
        }

        td:nth-child(1),
        td:nth-child(3),
        td:nth-child(5) {
          @include mixins.mobile {
            background-color: var(--color-bg-yellow);
          }
        }
      }

      th,
      td {
        @include mixins.mobile {
          @include mixins.flex();
        }
      }

      th.inline-flex {
        @include mixins.mobile {
          display: inline;
          line-height: 50px;
        }
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__container {
    @include mixins.flex($align-i: normal);
    gap: 50px;
    margin-bottom: 20px;

    @include mixins.mobile {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }

    &-form {
      width: 40%;
      @include mixins.card-outline($border-r: 20px);
      padding: 13px;

      @include mixins.tablet {
        width: 100%;
      }

      &-calc {
        &-name {
          text-align: center;
          margin-bottom: 0px;
        }

        &-wrap {
          &-item {
            width: 100%;
            @include mixins.flex();
            flex-direction: column;
            margin: 10px auto;

            &-label {
              margin-right: auto;
              margin-bottom: 5px;
            }

            &-input {
              width: 100%;

              input {
                width: 100%;
                color: var(--color-text-white);
                border-radius: 6px;
                background-color: rgb(20, 20, 20);
              }
            }

            .btnClear {
              grid-area: A;
              width: 100%;
            }

            .btnCalc {
              grid-area: B;
              width: 100%;
            }

            &-btn {
              color: var(--color-text-black);
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
              border: 1px solid rgb(255, 255, 255);
              transition: color 0.5s ease, border 0.5s ease,
                background-color 0.5s ease;
              padding: 10px;

              &:hover {
                border: 1px solid black;

                @include mixins.mobile {
                  border-color: rgb(255, 255, 255);
                }
              }

              &:active {
                color: var(--color-text-white);
                background-color: black;
              }
            }

            &-result {
              grid-area: C;
              font-size: 22px;
              font-weight: 400;
              text-align: center;
            }
          }
        }
      }

      .result-floor,
      .result-wall {
        width: 100%;
        display: grid;
        grid-template-areas: "A B" "C C";
        gap: 10px;
        justify-content: stretch;

        @include mixins.tablet {
          grid-template-areas: "A" "B" "C";
        }
      }
    }

    .calc-wall-wrap {
      width: 100%;
      padding-top: 38px;

      @include mixins.mobile {
        padding-top: 0px;
      }
    }
  }

  &__result {
    @include mixins.flex();
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    &-number {
      font-size: 26px;
      border-bottom: 2px solid var(--color-border-orange);
    }

    &-description {
      text-align: center;
    }

    &-btn {
      @include mixins.mobile {
        width: 100%;
      }
    }
  }

  button[disabled] {
    cursor: not-allowed;
    color: var(--color-text-black);
    background-color: transparent;
    border-color: black;
  }
}
