<div class="wrapper">
  <div class="content calculator">
    <h2 class="calculator__title">Цены</h2>
    <div class="calculator__price">
      <table class="calculator__price-table table-one">
        <thead>
          <tr>
            <th>Вид работ</th>
            <th>Площадь</th>
            <th>Толщина</th>
            <th class="inline-flex">Цена руб/м<sup>2</sup></th>
            <th>Дополнительно</th>
            <th>*</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Стяжка пола</td>
            <td>1м<sup>2</sup></td>
            <td>6см</td>
            <td>800</td>
            <td>каждый см свыше: 150 руб.</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Штукатурка стен</td>
            <td>1м<sup>2</sup></td>
            <td>20 мм*</td>
            <td>750</td>
            <td>-</td>
            <td>*от 300 м<sup>2</sup></td>
          </tr>
        </tbody>
      </table>
      <table class="calculator__price-table table-two">
        <thead>
          <tr>
            <th>Вид работ</th>
            <th>Площадь</th>
            <th>Толщина</th>
            <th>Цена руб/м<sup>2</sup></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Откосы</td>
            <td>1м</td>
            <td>до 20мм</td>
            <td>950</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2 class="calculator__title">Рассчет стоимости</h2>
    <div class="calculator__container">
      <form [formGroup]="floor" class="calculator__container-form">
        <div class="calculator__container-form-calc calc-floor">
          <h2 class="calculator__container-form-calc-name">Cтяжка пола</h2>
          <div class="calculator__container-form-calc-wrap">
            <div class="calculator__container-form-calc-wrap-item">
              <mat-label
                class="calculator__container-form-calc-wrap-item-label"
              >
                Площадь (м<sup>2</sup>)
              </mat-label>
              <mat-form-field
                class="calculator__container-form-calc-wrap-item-input"
              >
                <input
                  matInput
                  type="number"
                  name="areaFloor"
                  formControlName="areaFloor"
                  id="areaFloor"
                />
                <mat-error>
                  @if(floor.get('areaFloor')?.invalid){
                  @if(floor.get('areaFloor')?.hasError('required')) { Это
                  обязательное поле } @else { Площать от 1м<sup>2</sup> } }
                </mat-error>
              </mat-form-field>
            </div>
            <div class="calculator__container-form-calc-wrap-item">
              <mat-label
                class="calculator__container-form-calc-wrap-item-label"
              >
                Толщина (см)
              </mat-label>
              <mat-form-field
                class="calculator__container-form-calc-wrap-item-input"
              >
                <input
                  matInput
                  type="number"
                  formControlName="widthFloor"
                  name="width"
                  id="widthFloor"
                />
                <mat-error>
                  @if(floor.get('widthFloor')?.invalid){
                  @if(floor.get('widthFloor')?.hasError('required')) { Это
                  обязательное поле } @else {Толщина от 6см} }
                </mat-error>
              </mat-form-field>
            </div>
            <div class="calculator__container-form-calc-wrap-item result-floor">
              <button
                class="calculator__container-form-calc-wrap-item-btn btnClear"
                (click)="resetFormFloor()"
              >
                Очистить
              </button>
              <button
                class="calculator__container-form-calc-wrap-item-btn btnCalc"
                (click)="calculateFloor()"
                [disabled]="floor.invalid"
              >
                Рассчитать
              </button>
              <div
                class="calculator__container-form-calc-wrap-item-result result"
              >
                Итого: {{ resultFloor }}
              </div>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="wall" class="calculator__container-form">
        <div class="calculator__container-form-calc calc-wall">
          <h2 class="calculator__container-form-calc-name">Штукатурка стен</h2>
          <div class="calculator__container-form-calc-wrap calc-wall-wrap">
            <div class="calculator__container-form-calc-wrap-item">
              <mat-label
                class="calculator__container-form-calc-wrap-item-label"
              >
                Площадь (м<sup>2</sup>)
              </mat-label>
              <mat-form-field
                class="calculator__container-form-calc-wrap-item-input"
              >
                <input
                  matInput
                  type="number"
                  name="area"
                  formControlName="areaWall"
                />
                <mat-error>
                  @if (wall.get('areaWall')?.hasError('required')) { Это
                  обязательное поле } @else if
                  (wall.get('areaWall')?.hasError('min')) { Площать от
                  1м<sup>2</sup>}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="calculator__container-form-calc-wrap-item result-floor">
              <button
                class="calculator__container-form-calc-wrap-item-btn btnClear"
                (click)="resetFormWall()"
              >
                Очистить
              </button>
              <button
                class="calculator__container-form-calc-wrap-item-btn btnCalc"
                (click)="calculateWall()"
                [disabled]="wall.invalid"
              >
                Рассчитать
              </button>
              <div
                class="calculator__container-form-calc-wrap-item-result result"
              >
                Итого: {{ resultWall }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="calculator__result">
      <div class="calculator__result-number result">
        ИТОГОВАЯ СТОИМОСТЬ:
        {{ resultFloor + resultWall }} &#8381;
      </div>
      <p class="calculator__result-description">
        Точная стоимость будет рассчитана после замеров мастером.
      </p>
      <div class="calculator__result-btn btn">
        <button class="btn-orange" (click)="openDialog()">
          Оставить заявку
        </button>
      </div>
    </div>
  </div>
</div>


