@use "variables";
@use "decoration";
@use "./mixins" as mixins;

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: var(--color-seashell);
  margin: 0 auto;
  padding-top: 62px;

  @include mixins.tablet {
    padding-top: 60px;
  }
  @include mixins.mobile {
    padding-top: 57px;
  }

  @include mixins.mobile {
  }
}

h1,
h2,
h3,
h4 {
  font-family: Oswald, "Helvetica Neue", sans-serif;
  color: var(--color-text-black);
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  line-height: 1;
  // font-size: clamp(1.625rem, 0.3558rem + 2.6442vw, 3rem);//26-48
  @include mixins.tablet {
    font-size: 30px;
  }

  @include mixins.mobile {
    font-size: 30px;
    color: var(--color-text-white);
  }
}

h2 {
  font-size: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem); //22-36 320-1920
  margin-bottom: 20px;

  @media (min-width: 320px) and (max-width: 1220px) {
    margin-bottom: 10px;
  }
}
h3 {
  font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem); //18-22 320-1920
}

h4 {
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem); //20-14 320-1920
}
th {
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
  text-transform: uppercase;

  @include mixins.tablet {
    font-size: 16px;
  }
  @include mixins.mobile {
    font-size: 14px;
  }
}
//  &-title {
//         text-decoration: underline solid var(--color-squash);
//       }
a,
button {
  cursor: pointer;
  font-size: 18px;
  //font-size: clamp(0.875rem, 0.5893rem + 0.4464vw, 1.125rem); //14-18 320-1920

  @include mixins.tablet {
    font-size: 14px;
  }
  @include mixins.mobile {
    font-size: 14px;
  }
}
button{
  font-weight: 300;
}
th,
.header-logo,
.result,
.red,
.btn-decor-flash,
.btn-decor-flash-black {
  font-family: Oswald, "Helvetica Neue", sans-serif;
}
p {
  font-weight: 300;
}
mat-error {
  font-size: 12px;
  color: var(--color-error);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: var(--color-link-white);
}
.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 1600px; //1920px;
  margin: 0 auto;

  @include mixins.tablet {
    max-width: 768px;
  }

  @include mixins.mobile {
    max-width: 320px;
  }
}
.calculator,
.advantage,
.cooperation,
.technologies {
  padding: 0 60px;

  @include mixins.tablet {
    padding: 0 40px;
  }

  @include mixins.mobile {
    padding: 0 10px;
  }
}
.btn {
  margin-bottom: 30px;
  @media (min-width: 320px) and (max-width: 1620px) {
    margin-bottom: 10px;
  }

  @include mixins.mobile {
    width: 100%;
  }
  button {
    font-weight: 300;
    min-width: 240px;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0;
    transition: color 0.4s ease, border 0.4s ease, background-color 0.4s ease;

    @include mixins.tablet {
      padding: 12px 0;
    }

    @include mixins.mobile {
      width: 100%;
    }
    a {
      font-weight: 300;
    }
  }
}
.btn-black, .btn-black.btn-black:active {
  color: var(--color-black);
  border: 1px solid var(--color-border-black);

  a {
    color: var(--color-link-black);

    @include mixins.mobile {
      color: var(--color-seashell);
    }
  }
}
.btn-black:hover {
  color: var(--color-seashell);
  border: 1px solid transparent;
  background-color: var(--color-bg-dark-gray);

  a {
    color: var(--color-seashell);
  }
}

.btn-black:active {
  //  color: var(--color-black);
  //  border: 1px solid var(--color-border-black);
  background-color: inherit;

  // a {
  //   color: var(--color-link-black);
  //   @include mixins.mobile {
  //     color: var(--color-seashell);
  //   }
  // }
}

.btn-white, .btn-white.btn-white:active {
  color: var(--color-seashell);
  border: 1px solid var(--color-seashell);

  a {
    color: var(--color-seashell);
  }
}
.btn-white:hover {
  color: var(--color-black);
  border: 1px solid transparent;
  background-color: var(--color-seashell);

  a {
    color: var(--color-link-black);
  }
}

.btn-white:active {
  // color: var(--color-seashell);
  // border: 1px solid var(--color-seashell);
  background-color: inherit;

  // a {
  //   color: var(--color-seashell);
  // }
}
.btn-orange {
  color: var(--color-black);
  border: 1px solid var(--color-border-black);

  @include mixins.mobile {
    background-color: rgba(255, 187, 61, 1);
    border: 1px solid transparent;
  }

  a {
    color: var(--color-black);

    @include mixins.mobile {
      color: var(--color-seashell);
    }
  }
}

.btn-orange:hover {
  color: var(--color-black);
  background-color: rgba(255, 187, 61, 1);
  border: 1px solid transparent;

  a {
    color: var(--color-black);
    //color: var(--color-seashell);
  }
}

.btn-orange:active {
  color: var(--color-seashell);
  background-color: var(--color-bg-dark-gray);

  a {
    color: var(--color-black);
    @include mixins.mobile {
      color: var(--color-seashell);
    }
  }
}

.btns {
  @include mixins.flex();
  gap: 15px;

  @include mixins.tablet {
    flex-direction: column;
    gap: 0px;
  }

  @include mixins.mobile {
    width: 100%;
   // flex-direction: column;
    gap: 5px;
  }
}

.red {
  color: var(--color-bittersweet); //акцент
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.main-txt {
  font-size: clamp(0.875rem, 0.5288rem + 0.7212vw, 1.25rem);
  @include mixins.tablet {
    font-size: 14px;
  }
  @include mixins.mobile {
    font-size: 16px; //16
    font-weight: 300;
  }
}

.emphasized-txt {
  //Выделенный
  font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem); //16-22 320-1920
  @include mixins.tablet {
    font-size: 16px;
  }
  // @include mixins.mobile {
  //   font-size: 16px; //16
  // }
}

.txt {
  //  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem); //14-20 320-1920
  font-size: clamp(1rem, 0.7692rem + 0.4808vw, 1.25rem); //16-20
  @include mixins.tablet {
    font-size: 16px;
    font-weight: 300;
  }
  @include mixins.mobile {
    font-size: 14px;
  }
}
