

@use 'variables' as vars;
@use 'mixins' as mixins;

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
li {
  list-style: none;
}

a,
button { 
  cursor: pointer;
  text-decoration: none;
  outline: none;
  padding: 0;
  background: none; 
}

a {
  // font-family: inherit;
  border: none;
  outline: none;
  text-decoration: none;
}


// html,
// body {
//   height: 100%;
// }

// body {
//   margin: 0;
//   text-rendering: optimizespeed;
// }

// /* Box sizing rules */

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

// /* Remove default margin */
// body,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// figure,
// blockquote,
// dl,
// dd {
//   margin: 0;
// }

// /* Remove list styles on ul, ol elements */
// ul,
// ol {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// /* Remove default padding */
// ul[class],
// ol[class] {
//   padding: 0;
// }

// /* Anchor defaults */
// a {
//   color: inherit;
//   text-decoration: none;
// }

// /* Make images easier to work with */
// img,
// picture {
//   display: block;
//   max-width: 100%;
// }

// /* Inherit fonts for inputs and buttons */
// input,
// button,
// textarea,
// select {
//   font: inherit;
// }
