@use "variables";
@use "decoration";
@use "./mixins" as mixins;

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: var(--color-seashell);
  margin: 0 auto;
  padding-top: 66px;

  @media (min-width: 1024px) and (max-width: 1919px) {
    padding-top: 60px;
  }
  @media (min-width: 320px) and (max-width: 1023px) {
    padding-top: 61px;
  }

  @media (min-width: 320px) and (max-width: 1023px) {
  }
}

h1,
h2,
h3,
h4 {
  font-family: Oswald, "Helvetica Neue", sans-serif;
  color: var(--color-black);
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: clamp(1.625rem, 1.35rem + 1.375vw, 3rem); //26-48 320-1920
}

h2 {
  font-size: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem); //22-36 320-1920
  margin-bottom: 20px;
  @media (min-width: 320px) and (max-width: 1220px) {
    margin-bottom: 10px;
  }
}
h3 {
  font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem); //18-22 320-1920
}

h4 {
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem); //20-14 320-1920
}
th {
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
}

mat-error {
  font-size: 12px;
  color: var(--color-error);
}

a,
button {
  cursor: pointer;
 
  font-size: clamp(0.875rem, 0.5893rem + 0.4464vw, 1.125rem); //14-18 320-1920
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: var(--color-white);
}
.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  @media (min-width: 320px) and (max-width: 1023px) {
    max-width: 320px;
  }
}

.btn {
  margin-bottom: 30px;
  @media (min-width: 320px) and (max-width: 1620px) {
    margin-bottom: 10px;
  }
  button {
    min-width: 240px;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0;
    transition: color 0.4s ease, border 0.4s ease, background-color 0.4s ease;

    @media (min-width: 320px) and (max-width: 1023px) {
      width: 100%;
    }
  }
}
.btn-black {
  color: var(--color-black);
  border: 1px solid var(--color-border-black);

  a {
    color: var(--color-black);

    @media (min-width: 320px) and (max-width: 1023px) {
      color: var(--color-seashell);
    }
  }
}
.btn-black:hover {
  color: var(--color-seashell);
  border: 1px solid transparent;
  background-color: var(--color-bg-dark-gray);

  a {
    color: var(--color-seashell);

    // @media (min-width: 320px) and (max-width: 1023px) {
    //   color: var(--color-seashell);
    // }
  }
}

.btn-black:active {
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: inherit;

  a {
    color: var(--color-black);
    @media (min-width: 320px) and (max-width: 1023px) {
      color: var(--color-seashell);
    }
  }
}

.btn-white {
  color: var(--color-seashell);
  border: 1px solid var(--color-seashell);

  a {
    color: var(--color-seashell);
  }
}
.btn-white:hover {
  color: var(--color-black);
  border: 1px solid transparent;
  background-color: var(--color-seashell);

  a {
    color: var(--color-black);
  }
}

.btn-white:active {
  color: var(--color-seashell);
  border: 1px solid var(--color-seashell);
  background-color: inherit;

  a {
    color: var(--color-seashell);
  }
}
.btn-orange {
  color: var(--color-black);
  border: 1px solid var(--color-border-black);

  @media (min-width: 320px) and (max-width: 1023px) {
    background-color: rgba(255, 187, 61, 1);
    border: 1px solid transparent;
  }

  a {
    color: var(--color-black);

    @media (min-width: 320px) and (max-width: 1023px) {
      color: var(--color-seashell);
    }
  }
}
.btn-orange:hover {
  color: var(--color-black);
  background-color: rgba(255, 187, 61, 1);
  border: 1px solid transparent;

  a {
    color: var(--color-black);
    //color: var(--color-seashell);
  }
}

.btn-orange:active {
  color: var(--color-seashell);
  background-color: var(--color-bg-dark-gray);

  a {
    color: var(--color-black);
    @media (min-width: 320px) and (max-width: 1023px) {
      color: var(--color-seashell);
    }
  }
}

.btns {
  @include mixins.flex();
  gap: 15px;

  @media (min-width: 1024px) and (max-width: 1300px) {
    flex-direction: column;
    gap: 0px;
  }

  @media (min-width: 320px) and (max-width: 1023px) {
    width: 100%;
    flex-direction: column;
    gap: 5px;
  }
}

.red {
  font-family: Oswald, "Helvetica Neue", sans-serif;
  color: var(--color-bittersweet);
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
.main-txt {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem); //16-20 320-1920
}

.emphasized-txt {
  //Выделенный
  font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem); //16-22 320-1920
}

.txt {
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem); //14-20 320-1920
}
