@use "variables";
@use "./mixins" as mixins;
@use "decoration";

.wrapper {
  margin-bottom: 80px;

  @media (max-width: 1599px) {
    margin-bottom: 40px;
  }

  .benefit {
    padding: 0 60px;

    @include mixins.tablet {
      padding: 0 15px;
    }

    @include mixins.mobile {
      padding: 0 10px;
    }

    &__list {
      @include mixins.flex();
      gap: 20px;

      @include mixins.tablet {
        gap: 10px;
      }

      @include mixins.mobile {
        @include mixins.flex();
        flex-direction: column;
        gap: 5px;
        @include mixins.glass($background: rgba(255, 241, 214, 0.315));
        padding: 10px 0;
        margin-bottom: 10px;
      }

      &-item {
        width: 100%;
        color: var(--color-text-black);
        text-align: center;
        font-weight: 300;
        padding: 16px 0;

        @include mixins.mobile {
          padding: 10px;
        }

        span {
          display: inline-block;
          font-size: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem); //20-28
          font-weight: 400;
          color: var(--color-bittersweet); //акцент
        }
      }
    }
  }

  .stars-divider {
    display: none;

    @include mixins.mobile {
      display: block;
    }
  }

  .line {
    @include mixins.size($width: 2px, $height: 110px);

    @include mixins.mobile {
      display: none;
    }
  }
}
