<section class="wrapper">
  <div class="content benefit">
    <ul class="benefit__list">
      <li class="benefit__list-item emphasized-txt">
        Выполнение за <span class="red">1 день</span>
      </li>
      <span class="stars-divider">* * *</span>
      <mat-divider class="divider" [vertical]="true"></mat-divider>
      <li class="benefit__list-item emphasized-txt">
        Собственное оборудование и транспорт
      </li>
      <span class="stars-divider">* * *</span>
      <mat-divider class="divider" [vertical]="true"></mat-divider>
      <li class="benefit__list-item emphasized-txt">Любые типы помещений</li>
      <span class="stars-divider">* * *</span>
      <mat-divider class="divider" [vertical]="true"></mat-divider>
      <li class="benefit__list-item emphasized-txt">
        Экологичный материал и лучшее качество
      </li>
      <span class="stars-divider">* * *</span>
      <mat-divider class="divider" [vertical]="true"></mat-divider>
      <li class="benefit__list-item emphasized-txt">
        Высокая производительность и снижение затрат
      </li>
    </ul>
  </div>
</section>
