<section class="wrapper">
  <div class="content contacts">
    <div class="contacts__info">
      <div class="contacts__info-content txt">
        <h2 class="contacts__info-content-title">О нас</h2>
        <p class="contacts__info-content-txt">
          Уже более пяти лет наша компания "Вертикаль" занимается
          механизированной стяжкой пола и штукатуркой стен в Твери, Тверской
          области, Москве и Московской области. За годы работы у нас сложилась
          успешная команда, где в своей области каждый является компетентным
          специалистом.
        </p>
        <p class="contacts__info-content-txt">
          Качество всех работ - наш приоритет. В процесс работы мы регулярно
          внедряем новейшие технологии. Используем экологичные материалы лучшего
          качества, а также собственное оборудование и транспорт. Слаженная
          работа обеспечивает высокую производительность и гарантированное
          качество. Работаем с любым типом помещений.
        </p>
        <p class="contacts__info-content-txt">
          Что-нибудь про работу по договору. Какие-то гарантии и ценовую
          политику (скидки/акции за большой объем и пр.) officiis,
          exercitationem libero expedita reiciendis cupiditate pariatur
          laudantium voluptates porro magnam beatae, at soluta illo! Tenetur
          harum labore non assumenda ipsam, aliquam mollitia voluptas magni
          aspernatur! Alias porro fugiat dolor tenetur ut suscipit natus,
          maiores necessitatibus odit voluptate reiciendis eligendi vero,
          provident accusamus a animi.
        </p>
      </div>
    </div>
    <div class="contacts__contacts">
      <div class="contacts__contacts-contact">
        <div class="contacts__contacts-contact-phones">
          <h2 class="contacts__contacts-contact-phones-title">Контакты</h2>
          <div class="contacts__contacts-contact-phones-box">
            <a href="tel:89201711771" class="tel-one"
              ><span> <mat-icon>call</mat-icon> </span>8-920-171-17-71</a
            >
          </div>
          <div class="contacts__contacts-contact-phones-box">
            <a href="tel:89043586195" class="tel-two"
              ><span> <mat-icon>call</mat-icon> </span>8-904-358-61-95</a
            >
          </div>
        </div>
        <div class="contacts__contacts-contact-time">
          <h2 class="contacts__contacts-contact-time-title">Часы работы</h2>
          <div class="contacts__contacts-contact-time-detail txt">
            <p><span class="day">ПН-ПТ </span><span>09:00-18:00</span></p>
            <p><span class="day">СБ, ВС - </span><span>выходной</span></p>
          </div>
        </div>
        <div class="contacts__contacts-contact-address">
          <h2 class="contacts__contacts-contact-address-title">Адрес</h2>
          <p class="contacts__contacts-contact-txt txt">Где-то в Твери</p>
         
        </div>
      </div>
      <div class="contacts__contacts-map">
  

        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Aff2156f2b429a6fc6234b28b3c6088b9993faa9d73edb08298a5f8544bacdb7f&amp;source=constructor"
          width="400"
          height="100"
          frameborder="0"
        ></iframe>
      </div>

      <div class="contacts__contacts-buttons btns">
        <div class="contacts__contacts-buttons-btn btn">
          <button  class="btn-black" (click)="openDialog()">
            Оставить заявку
          </button>
        </div>

        <div class="contacts__contacts-buttons-btn btn">
          <button class="btn-black">
            <a routerLink="../calculator" routerLinkActive="active">
              Рассчитать стоимость</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="background">
    <div class="background__bg"></div>
    <div class="background__bg"></div>
    <div class="background__bg"></div>
  </div>
  <div class="loop-wrapper">
    <div class="loop-wrapper__mountain"></div>
    <div class="loop-wrapper__hill"></div>
    <div class="loop-wrapper__tree">
      <div class="loop-wrapper__tree-bottom tree-bottom"></div>
      <div class="loop-wrapper__tree-top tree-top"></div>
    </div>
    <div class="loop-wrapper__tree">
      <div class="loop-wrapper__tree-bottom tree-bottom"></div>
      <div class="loop-wrapper__tree-top tree-top"></div>
    </div>
    <div class="loop-wrapper__tree">
      <div class="loop-wrapper__tree-bottom tree-bottom"></div>
      <div class="loop-wrapper__tree-top tree-top"></div>
    </div>
    <div class="loop-wrapper__rock"></div>
    <div class="loop-wrapper__truck">
      <div class="loop-wrapper__truck-detail-one">
        <div class="loop-wrapper__truck-detail-one-top"></div>
        <div class="loop-wrapper__truck-detail-one-left"></div>
        <div class="loop-wrapper__truck-detail-one-right"></div>
        <div class="loop-wrapper__truck-detail-one-circle circle"></div>
      </div>
      <div class="loop-wrapper__truck-detail-two">
        <div class="loop-wrapper__truck-detail-two-window"></div>
        <div class="loop-wrapper__truck-detail-two-left"></div>
        <div class="loop-wrapper__truck-detail-two-top"></div>
        <div class="loop-wrapper__truck-detail-two-bottom"></div>
        <div class="loop-wrapper__truck-detail-two-circle circle"></div>
      </div>
    </div>
    <div class="loop-wrapper__wheels">
      <div class="loop-wrapper__wheels-wheel"></div>
      <div class="loop-wrapper__wheels-wheel"></div>
    </div>
  </div>
</section>
