@use "variables";
@use "./mixins" as mixins;
@use "decoration";

.contacts {
  @include mixins.flex($justify-c: space-between);
  padding: 30px 40px 0px 40px;

  @include mixins.tablet {
    flex-direction: column;
    padding: 20px 20px 0px 20px;
  }

  @include mixins.mobile {
    justify-content: center;
    flex-flow: wrap;
    padding: 10px 10px 0px 10px;
  }

  h2 {
    margin-bottom: 0px;
  }

  &__info-content,
  &__contacts-contact {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;

    @include mixins.mobile {
      padding: 10px;
    }
  }

  &__info {
    width: 52%;
    border-radius: 16px;

    @include mixins.tablet {
      width: 100%;
    }

    @include mixins.mobile {
      order: 2;
      width: 100%;
    }

    &-content {
      color: var(--color-text-black);
      @include mixins.glass(
        $border-r: 16px,
        $box-s: 0 4px 10px var(--color-shadow-black-05),
        $backdrop-f: blur(8.8px),
        $w-b-filter: blur(8.8px)
      );
      transition: background 0.7s ease, transform 0.7s ease,
        box-shadow 0.7s ease;

      @include mixins.mobile {
        background: var(--color-bg-glass);
        box-shadow: 0 4px 10px var(--color-shadow-black-05);
      }

      &:hover {
        color: var(--color-text-black);
        @include mixins.glass(
          $background: var(--color-bg-glass-hover-orange),
          $border-r: 16px,
          $box-s: 0 4px 30px var(--color-shadow-black-02),
          $backdrop-f: blur(8.8px),
          $w-b-filter: blur(8.8px)
        );
        transform: translate(8px, -5px);

        @include mixins.tablet {
          transform: scale(1.005, 1.005);
        }

        @include mixins.mobile {
          transform: translate(0px, 0px);
          background: var(--color-bg-glass);
          box-shadow: 0 4px 10px var(--color-shadow-black-05);
        }
      }
    }
  }

  &__contacts {
    width: 50%;
    text-align: center;
    @include mixins.flex();
    flex-direction: column;

    @include mixins.tablet {
      width: 100%;
    }

    @include mixins.mobile {
      order: 1;
      width: 100%;
    }

    &-contact {
      color: var(--color-text-black);
      margin: 0 auto;

      &-phones {
        &-box {
          a {
            font-size: clamp(
              0.875rem,
              0.8rem + 0.375vw,
              1.25rem
            ); //20-14 320-1920
            color: var(--color-text-black);
          }

          span mat-icon {
            font-size: 20px;
            margin-bottom: -7px;
          }
        }
      }

      &-time {
        &-detail {
          .day {
            font-weight: 600;
          }
        }
      }
    }

    &-map {
      cursor: pointer;
      width: 100%;
      margin-bottom: 20px;

      @include mixins.mobile {
        margin-bottom: 10px;
      }

      iframe {
        @include mixins.mobile {
          width: 100%;
        }
      }
    }

    &-buttons {
      @include mixins.tablet {
        flex-direction: row;
        gap: 10px;
        margin-bottom: 10px;
      }

      @include mixins.mobile {
        flex-direction: column;
        gap: 0;
        margin-bottom: 15px;
      }

      &-btn {
        button,
        button:hover {
          @include mixins.mobile {
            background-color: black;
            color: white;
            border: none;
          }
        }

        button:active {
          @include mixins.mobile {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
