@use "variables";
@use "./mixins" as mixins;
@use "decoration";

.modal {
  outline: 1.5px solid var(--color-border-black);
  outline-offset: -4.5px;
  border-radius: 30px;

  &__title {
    font-family: Oswald, "Helvetica Neue", sans-serif;
    text-align: center;
    margin-bottom: 0px;
  }
  &__subtitle {
    text-align: center;
    color: var(--color-text-black);
    margin-bottom: 8px;
  }

  &__dialog {
    &-form {
      @include mixins.flex();
      flex-direction: column;
      gap: 10px;

      &-field {
        width: 100%;
      }
    }
  }

  &__actions {
    gap: 40px;
    padding: 0 0 20px 0;
    margin-top: 10px;

    &-btn {
      font-family: Oswald, "Helvetica Neue", sans-serif;
      padding: 10px 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
    }
  }
}

::ng-deep mat-pseudo-checkbox {
  background-color: var(--color-bg-dark-gray) !important;
  border-color: var(--color-border-white) !important;
}

::ng-deep mat-pseudo-checkbox::after {
  color: var(--color-text-white) !important;
}

:host ::ng-deep .mat-mdc-select-value-text {
  white-space: wrap;
}

:host ::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0;
}
