@use "variables";
@use "./mixins" as mixins;
@use "decoration";

.services {
  padding: 10px;

   @include mixins.mobile {
    padding: 5px;
  }

  &__tabs {
    width: 100%;

    &-label {
      &-card {
        width: 55%;
        font-weight: 300;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        @include mixins.glass();

        @include mixins.tablet {
          width: 65%;
        }

         @include mixins.mobile {
          @include mixins.size($height: 600px, $width: 95%);
          @include mixins.flex($justify-c: space-between);
          flex-direction: column;
          top: 200px;
          left: 50%;
          transform: translateX(-50%);
          @include mixins.glass($background: rgba(41, 41, 41, 0.267));
        }

        &-txt {
          margin-bottom: 20px;
          color: white;
        }

        &-buttons {
          @include mixins.tablet {
            flex-direction: row;
            gap: 10px;
          }
          @include mixins.mobile {
            flex-direction: column;
          }

          &-btn {
            button {
              @include mixins.tablet {
                min-width: 212px;
              }
            }
          }
        }
      }

      &-photo {
        @include mixins.size($height: 100%, $width: 50%);
        float: right;

         @include mixins.mobile {
          @include mixins.size($height: 40%);
        }

        img {
          @include mixins.size();
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }
}

:host ::ng-deep .mat-mdc-tab-labels { 
   @include mixins.mobile {
    padding: 0 10px;
  }
}

:host ::ng-deep .mdc-tab {
   @include mixins.mobile {
    width: 90px;
    white-space: normal;
  }
}

:host ::ng-deep .mat-mdc-tab-header {
  background-color: var(--color-bg-dark-gray);
  border-radius: 10px;
  margin-bottom: 5px;
}

:host ::ng-deep .mat-mdc-tab-body-wrapper {
  @include mixins.size($height: 600px);
  box-shadow: 3px 3px 5px var(--color-shadow-black-05);
  border-radius: 10px;

  @include mixins.tablet {
    height: 480px;
  }

   @include mixins.mobile {
    height: 810px;
  }
}

:host ::ng-deep .mat-mdc-tab-body-content {
  background-color: var(--color-bg-dark-gray);
  padding: 10px;

   @include mixins.mobile {
    padding: 7px;
  }
}
