<section class="wrapper">
  <div class="content technologies">
    <h2 class="technologies__title">Технологии</h2>
    <div class="technologies__content">
      <div class="technologies__content-text txt">
        <div class="technologies__content-text-photo">
          <div class="technologies__content-text-photo-img">
            <img src="/assets/images/16.jpg" alt="" />
          </div>
          <div class="technologies__content-text-photo-img">
            <img src="/assets/images/18.jpg" alt="" />
          </div>
        </div>
        <div class="technologies__content-text-item">
          ( Что и как(без подробностей))
          <p class="technologies__content-text-item-txt">
            <span>
              Для штукатурки стен мы используем немецкое оборудование PFT RITMO
              XL и штукатурку МР75 (уточнить).</span
            >

            <span> Это самый эффективный способ штукатурки стен. </span>
          </p>

          <p class="technologies__content-text-item-txt">
            Для механизированной стяжки пола используется раствор марки м200 и
            выше. Возможно добавление фиброволокна. В процессе смесь подается из
            миксера. В работе участвует , как правило, два человека. (Какой
            объем они могут сделать за день?)
          </p>

          <p class="technologies__content-text-item-txt">
            Перед нанесением растворов поверхности подготавливаются с учетом
            материала и других нюансов, например, наличие/отсутствие теплого
            пола. Для ровного нанесения устанавливается маячная система.
          </p>

          <p class="technologies__content-text-item-txt">
            Строгое соблюдение всех этапов технологий и внимательность
            специалистов позволяет нам достигать идеального результата.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
