@use "variables";
@use "./mixins" as mixins;

.wrapper {
  margin-bottom: 80px;

  @media (max-width: 1599px) {
    margin-bottom: 40px;
  }

  .technologies {
//     padding: 0 60px;

//     @include mixins.tablet {
//       padding: 0 40px;
//     }
// // 
//      @include mixins.mobile {
//       padding: 0 10px;
//     }

    &__title {
      margin-bottom: 20px;
      //text-decoration: underline solid var(--color-squash);
    }

    &__content {
      &-text {
        color: var(--color-text-black);
        text-align: justify;

        &-photo {
          width: 34%;
          position: relative;
          @include mixins.flex($justify-c: end);
          float: right;
          clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
          shape-outside: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);

          @include mixins.tablet {
            width: 48%;
          }

           @include mixins.mobile {
            display: none;
          }

          &-img {
            img {
              @include mixins.size();
              object-fit: cover;
            }
          }

          &-img:nth-child(1) {
            width: 50%;
            position: absolute;
            left: 10%;
            z-index: 2;
            clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0 100%);

            img {
              box-shadow: 0px 0px 6px 1px var(--color-shadow-black-1);
            }
          }

          &-img:nth-child(2) {
            width: 52%;

            img {
              box-shadow: 0px 2px 3px 0px var(--color-shadow-black-1);
            }
          }
        }

        &-item {
          &-txt:not(:last-child) {
            margin-bottom: 20px;

            @media (max-width: 1599px) {
              margin-bottom: 13px;
            }
          }
        }
      }
    }
  }
}
