<div class="wrapper">
  <div class="content slider">
    <div class="slider__icon">
      <span> <mat-icon>swipe</mat-icon> </span>
    </div>
    <swiper-container
      class="mySwiperTwo swiper"
      pagination="true"
      pagination-dynamic-bullets="true"
    >
      <swiper-slide class="swiper__slide swiper-slide-0">
        <div class="swiper__slide-slide slide-1">
          <div class="swiper__slide-slide-content">
            <h1 class="swiper__slide-slide-content-title">Штукатурка стен</h1>

            <p class="swiper__slide-slide-content-txt main-txt">
              Штукатурка осуществляется опытными специалистами на немецком
              оборудовании, позволяющем работать с любым типом помещений, по
              проверенной и надежной технологии, что делает работу эффективной,
              быстрой и качественной.
            </p>
            <div class="swiper__slide-slide-content-buttons btns">
              <div class="swiper__slide-slide-content-buttons-btn btn">
                <button class="btn-white">
                  <a routerLink="calculator" routerLinkActive="active">
                    Рассчитать стоимость</a
                  >
                </button>
              </div>
              <div class="swiper__slide-slide-content-buttons-btn btn">
                <button class="btn-white" (click)="openDialog()">
                  Оставить заявку
                </button>
              </div>
            </div>
          </div>
          <div class="swiper__slide-slide-foto foto-1"></div>
        </div>
        <div class="swiper__slide-slide slide-2">
          <div class="swiper__slide-slide-content">
            <h1 class="swiper__slide-slide-content-title">
              Механизированная стяжка пола
            </h1>
            <p class="swiper__slide-slide-content-txt main-txt">
              Механизированная стяжка пола обладает многими преимуществами. Опыт
              наших специалистов позволяет выполнять объем до 1 000 м2 в день,
              используя цементно-песчаные смеси, обладающие повышенной
              прочностью: от М200 и выше, с возможностью добавления
              фиброволокна.
            </p>
            <div class="swiper__slide-slide-content-buttons btns">
              <div class="swiper__slide-slide-content-buttons-btn btn">
                <button class="btn-black">
                  <a routerLink="calculator" routerLinkActive="active">
                    Рассчитать стоимость</a
                  >
                </button>
              </div>
              <div class="swiper__slide-slide-content-buttons-btn btn">
                <button class="btn-black" (click)="openDialog()">
                  Оставить заявку
                </button>
              </div>
            </div>
          </div>
          <div class="swiper__slide-slide-foto foto-2"></div>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper__slide swiper-slide-1">
        <div class="swiper__slide-content">
          <h1 class="swiper__slide-content-title">Штукатурка стен</h1>

          <p class="swiper__slide-content-txt main-txt">
            Штукатурка осуществляется опытными специалистами на немецком
            оборудовании, позволяющем работать с любым типом помещений, по
            проверенной и надежной технологии, что делает работу эффективной,
            быстрой и качественной.
          </p>
          <div class="swiper__slide-content-buttons btns">
            <div class="swiper__slide-content-buttons-btn btn">
              <button class="btn-white">
                <a routerLink="calculator" routerLinkActive="active">
                  Рассчитать стоимость</a
                >
              </button>
            </div>
            <div class="swiper__slide-content-buttons-btn btn">
              <button class="btn-white" (click)="openDialog()">
                Оставить заявку
              </button>
            </div>
          </div>
        </div></swiper-slide
      >
      <swiper-slide class="swiper__slide swiper-slide-2">
        <div class="swiper__slide-content">
          <h1 class="swiper__slide-content-title">
            Механизированная стяжка пола
          </h1>
          <p class="swiper__slide-content-txt main-txt">
            Механизированная стяжка пола обладает многими преимуществами. Опыт
            наших специалистов позволяет выполнять объем до 1 000 м2 в день,
            используя цементно-песчаные смеси, обладающие повышенной прочностью:
            от М200 и выше, с возможностью добавления фиброволокна.
          </p>
          <div class="swiper__slide-content-buttons btns">
            <div class="swiper__slide-content-buttons-btn btn">
              <button class="btn-white">
                <a routerLink="calculator" routerLinkActive="active">
                  Рассчитать стоимость</a
                >
              </button>
            </div>
            <div class="swiper__slide-content-buttons-btn btn">
              <button class="btn-white" (click)="openDialog()">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
