@use "variables";
@use "./mixins" as mixins;

.wrapper {
  height: 500px;
  overflow: visible;

  @include mixins.tablet {
    height: 380px;
  }
  @include mixins.mobile {
    height: 450px;
    margin-bottom: 20px;
  }

  .slider {
    box-shadow: -1px 6px 8px 0px var(--color-shadow-black-05);

    @include mixins.mobile {
      position: relative;    
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &__icon {
      display: none;

       @include mixins.mobile {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 18px;
        right: 20px;
      }

      mat-icon {
        @include mixins.size();
        font-size: 30px;
        color: var(--color-white);
        animation: color-icon 4s ease-in-out infinite;
      }
    }
  }

  .swiper {
    @include mixins.size();

     @include mixins.mobile {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__slide {
      position: relative;
      @include mixins.size($height: 500px);
      text-align: center;
      display: flex;
      gap: 10px;

      @include mixins.tablet {
        height: 380px;
      }

       @include mixins.mobile {
        height: 450px;
        color: var(--color-text-white);
        background-repeat: no-repeat;
        background-size: cover;
        gap: 0;
        padding: 10px 10px 20px 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &-desk {
        position: absolute;
        @include mixins.size($width: 61.5%);
        display: flex;
        top: 0;
        gap: 10px;
        padding: 10px;

        @include mixins.tablet {
          width: 60%;
          @include mixins.flex($align-i: start, $justify-c: space-between);
        }

        &-content {
          width: 60%;
          @include mixins.flex($justify-c: baseline);
          flex-direction: column;
          gap: 30px;

          @include mixins.tablet {
            gap: 15px;
          }
        }

        &-buttons {
          width: 100%;
        }

        &-photo {
          position: relative;
          @include mixins.size($width: 38%);
          box-shadow: 0px 0px 3px 2px var(--color-shadow-black);
          background-repeat: no-repeat;
          background-size: cover;

          @include mixins.tablet {
            width: 40%;
          }

           @include mixins.mobile {
            width: 100%;
          }
        }
      }
      &-content {
         @include mixins.mobile {
          height: 100%;
          @include mixins.flex();
          flex-direction: column;
          border-radius: 5px;
          background-color: rgba(29, 29, 29, 0.7);
          padding: 6px 10px;
        }

        &-title {
           @include mixins.mobile {
            margin-bottom: 12px;
          }
        }

        &-txt {
           @include mixins.mobile {
            margin-bottom: auto;
          }
        }
      }
    }
  }

  .swiper-slide-0 {
    display: flex;

     @include mixins.mobile {
      display: none;
    }

    .slide-1 {
      color: var(--color-text-white);
      left: 0;
      background: var(--color-bg-dark-gray);
      transition: 1s left ease-in-out, 1s background ease;

      h1 {
        color: var(--color-text-white);
      }
    }

    .slide-2 {
      color: var(--color-text-black);
      right: 0;
      background: var(--color-bg-light-orange);
      box-shadow: 0 20px 5px 10px var(--color-shadow-black);
      transition: 1s right ease-in-out, 1s background ease, 1s color ease;
      z-index: 5;
    }

    .slide-1:hover {
      background: var(--color-bg-middle-gray);
    }

    .slide-2:hover {
      background: var(--color-bg-yellow);
    }

    .slide-1:hover + .slide-2 {
      color: var(--color-text-white);
      right: -18%;

       @include mixins.mobile {
        right: -70%;
      }
    }
  }

  .swiper-slide-1,
  .swiper-slide-2 {
    display: none;
     @include mixins.mobile {
      display: block;
    }
  }

  .swiper-slide-1,
  .photo-1 {
    background-image: url(/assets/images/5.jpg);
  }

  .swiper-slide-2,
  .photo-2 {
    background-image: url(/assets/images/6.jpg);
  }

  swiper-container::part(pagination) {
     @include mixins.mobile {
      bottom: 5px;
    }
  }

  swiper-container::part(bullet-active) {
    @include mixins.size($width: 0, $height: 0);
    background-color: orange;

     @include mixins.mobile {
      @include mixins.size($width: 10px, $height: 10px);
    }
  }

  swiper-container::part(bullet) {
    @include mixins.size($width: 0, $height: 0);

     @include mixins.mobile {
      @include mixins.size($width: 8px, $height: 8px);
      background: rgb(255, 255, 255);
      opacity: 0.7;
    }
  }

  @keyframes color-icon {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
