<div class="wrapper">
  <div class="content advantage">
    <div class="advantage__container">
      <h2 class="advantage__container-title">Сотрудничество с нами - это</h2>

      <div class="advantage__container-content">
        <ul class="advantage__container-content-list">
          <li class="advantage__container-content-list-item">
            <div class="advantage__container-content-list-item-top">
              <h3 class="advantage__container-content-list-item-top-subtitle">
                ...выгодно
              </h3>
              <div class="advantage__container-content-list-item-top-icon">
                <span> <mat-icon>credit_card</mat-icon> </span>
              </div>
            </div>
            <p class="advantage__container-content-list-item-txt main-txt">
              Выгодные цены, скидки для постоянных клиентов. Скидки при заказе
              комплекса работ по штукатурке и стяжке или большом объеме. quaerat
              rem unde possimus cupiditate beatae voluptas officia laudantium
              ipsam ad ducimus autem officiis reprehenderit impedit dolores
              что-нибудь еще.
            </p>
          </li>
          <li class="advantage__container-content-list-item">
            <div class="advantage__container-content-list-item-top">
              <h3 class="advantage__container-content-list-item-top-subtitle">
                ...оперативно
              </h3>
              <div class="advantage__container-content-list-item-top-icon">
                <span> <mat-icon>bolt</mat-icon> </span>
              </div>
            </div>
            <p class="advantage__container-content-list-item-txt main-txt">
              <span>Мы ценим ваше время!</span>
              <span>
                Выезд на объект в день обращения, возможность выполнения работы
                за один день, собственные оборудование и транспорт, специалисты
                со стажем более пяти лет, все это позволяет нам выполнять свою
                работу качественно и быстро.
              </span>
            </p>
          </li>
          <li class="advantage__container-content-list-item">
            <div class="advantage__container-content-list-item-top">
              <h3 class="advantage__container-content-list-item-top-subtitle">
                ...надежно
              </h3>
              <div class="advantage__container-content-list-item-top-icon">
                <span> <mat-icon>thumb_up</mat-icon> </span>
              </div>
            </div>
            <p class="advantage__container-content-list-item-txt main-txt">
              Качество используемых материалов, современное оборудование,
              внимание и профессионализм нашей команды позволяют быть уверенными
              в отличном результате. (Возможно ребята предоставляют какие-то
              гарантии, например по договору) .
            </p>
          </li>
        </ul>

      
      </div> 
       <div class="cubes">
          <div class="cubes__cube"></div>
          <div class="cubes__cube"></div>
          <div class="cubes__cube"></div>
          <div class="cubes__cube"></div>
        </div>
    </div>
  </div>
</div>
